/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
/* Make the scrollbar slim */
::-webkit-scrollbar {
  width: 8px;  /* Horizontal scrollbar thickness */
  height: 8px; /* Vertical scrollbar thickness */
}

/* Customize the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Light gray background */
  border-radius: 10px;   /* Rounded corners */
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;  /* Normal color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for thumb */
}

/* Customize the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Darker color when the user hovers */
}

::selection {
  color: white;
  background-color: #800000;
}
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
  --primary-color: white;
  --secondary-color: black;
  
}
main {
  height: 100vh;
  width: 100%;
  /* border: 1px solid var(--secondary-color); */
}
header {
  z-index: 2;
  box-shadow: 0px 0px 2px #800000;
  position: fixed;
  top: 0px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #800000;
  width: 100%;
  height: 59px;
  margin-bottom: 0px;
  /* border: 1px solid var(--secondary-color); */
}
main > section {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91vh;
  /* border: 1px solid var(--secondary-color); */
}

.sideBar {
  z-index: 2;
  padding-top: 2px;
  position: fixed;
  top: 58px;
  left: -100%;
  width: 25%;
  height: 100%;
  /* border-top: 1px solid white; */
  transition: 0.9s;
  background-color: #800000;
}
.myPicture {
  cursor: pointer;
  /* background: url(../Images/AnkitKumarSharma.jpg); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  margin: auto;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  overflow:hidden;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
}
.jobRole {
  position: relative;
  margin-bottom: 5px;
  /* border: 1px solid green; */
}
.jobRole::before {
  content: "";
  height: 1px;
  position: absolute;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  bottom: -3px;
  animation-name: resize;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes resize {
  100% {
    width: 80%;
  }
}
.designation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  height: 60px;
  width: 80%;
  /* border: 1px solid white; */
}
.designation p {
  color: white;
  font-size: 18px;
}
.contentContainer {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(../Images/bikeBackGround.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 55%;
  width: 75%;
  height: 100%;
  /* border: 1px solid var(--secondary-color); */
}
.contentContainer > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 520px;
  /* border: 1px solid var(--secondary-color); */
}
.contentContainer > article p {
  font-size: 32px;
}
.myName {
  display: inline-block;
  border-right: 1px solid #800000;
  width: 0ch;
  white-space: nowrap;
  overflow: hidden;
  color: #800000;
  font-size: 40px;
  animation-name: typing;
  animation-duration: 3s;
  animation-timing-function: steps(18);
  animation-delay: 0ms;
  animation-iteration-count: infinite;
}
@keyframes typing {
  100% {
    width: 18ch;
  }
}

.viewWorkButton {
  cursor: pointer;
  background-color: white;
  color: #800000;
  font-size: 20px;
  height: 42px;
  width: 40%;
  margin-top: 50px;
  border: none;
  border-radius: 30px;
  border: 1px solid #800000;
  transition: background-color 2ms;
}
.viewWorkButton:hover {
  box-shadow: 0px 0px 1px #800000;
  color: white;
  background-color: #800000;
}
.viewWorkButton:hover > a {
  color: white;
}
.viewWorkButton > a{
  text-decoration: none;
  color: maroon;
  font-size: 18px;
  /* width: 100%;
height: 100%; */
  /* display: block; */
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 32px;
}
.barContainer {
  font-size: 21px;
}
nav {
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  margin: auto;
  height: 280px;
  width: 95%;
  /* border: 1px solid white; */
}
nav ul li {
  list-style: none;
}
nav ul li a {
  position: relative;
  height: 30px;
  display: inline-block;
  margin-top: 10px;
  width: 290px;
  /* border: 1px solid white; */
  text-decoration: none;
  color: white;
  font-size: 19px;
}
nav ul li a::before {
  transition: width 1s;
  position: absolute;
  content: "";
  height: 1px;
  width: 0%;
  bottom: -2px;
  background-color: white;
}
nav ul li:hover ::before {
  width: 100%;
}
.navIcon {
  font-size: 21px;
  margin-right: 8px;
}
.hire {
  background-color: white;
  color: #800000;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 20px;
  border: none;
  width: 35%;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #a8a8a8;
  transition: transform 0.5s;
}
.hire:hover {
  transform: scale(1.2);
}
.socialLinks {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: 90%;
  height: 50px;
  /* border: 1px solid var(--primary-color); */
}
.socialIcon {
  font-size: 25px;
  color: white;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #a8a8a8;
  margin: auto;
  width: 60%;
  /* border-radius: 30px; */
  height: 63px;
  margin-top: 200px;
  margin-bottom: 20px;
  border-bottom: 2px solid #a8a8a8;
  /* background-color: #f7eded; */
  /* border-bottom: 1px solid #bfbfbf; */
}
b.bold,b,.bold{
  font-weight: 600;
  color: maroon;
}

.titleContainer p {
  margin-left: 5px;
}
.about,
.skill,
.education,
.experience,
.contact {
  width: 100%;
  height: 520px;
  /* border: 1px solid green; */
}
.experience {
  position: relative;
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  background-image: url(../Images/uiSvg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 45%;
}
.jobDone {
  font-size: 25px;
  color: #800000;
}
.education {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}
.eduBox1 {
  padding-top: 10px;
  height: 520px;
  width: 50%;
  background-image: linear-gradient(to left bottom, white 90%, #800000 10%);
  /* border: 1px solid black; */
}
.lang {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: #800000;
  font-weight: 600;
}

.eduBox2 {
  width: 50%;
  height: 500px;
  border-left: 1px solid #a8a8a8;
}
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 10px; */
  /* border: 1px solid green; */
}

.aboutMe {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  padding: 20px;
  padding-top: 0px;
  width: 75%;
  height: 100%;
  overflow: auto;
  /* border: 1px dotted red; */
}
.aboutBtn {
  font-size: 16px;
  text-decoration: none;
  background-color: #800000;
  color: white;
  height: 50px;
  line-height: 50px;
  width: 190px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
}
.resumeViewerAndDownloader{
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  flex-direction: column;
  z-index: 2;
  background-color: white;
}
.d-none{
  display: none !important;
}

.closeBtnResume {
  all: unset;
  cursor: pointer;
  background-color: white;
  color: #a8a8a8;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 100px;
  margin-top: 50px;
  border: none;
  border-radius: 30px;
  /* border: 1px solid #800000; */
  transition: background-color 2ms;
}

.bold {
  color: black;
  font-weight: bolder;
}
.informationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  height: 50px;
  /* border: 1px solid blue; */
}
.downloadResumeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutBox1,
.aboutBox3 {
  width: 20%;
  height: 100%;
  /* border: 1px solid green; */
}

.aboutBox1{
  width: 15%;
}
.aboutBox3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.aboutDesign1 {
  margin-top: 80px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 2px solid #a8a8a8;
}
.aboutDesign2 {
  border-radius: 100%;
  margin-top: -80px;
  margin-right: 100px;
  width: 150px;
  height: 150px;
  border: 2px solid #800000;
}
.aboutBox1 {
  background-image: url(../Images/boyBack.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.frame {
  position: relative;
  z-index: -1;
  margin-top: 45px;
  width: 200px;
  height: 300px;
  border: 2px solid #a8a8a8;
}
.skillBox1,
.skillBox2 {
  width: 50%;
  height: 520px;
  /* border: 1px solid green; */
}
.skillBox1 {
  background: url(../Images/interviewBack.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}
.ratingContainer {
  margin: 5px 0px 5px 0px;
  width: 51%;
  height: 20px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleNameIcon {
  color: #a8a8a8;
  font-size: 45px;
}
.titleName {
  font-size: 30px;
  /* border: 1px solid blue; */
  position: relative;
  font-weight: 500;
}
.star {
  border-radius: 2px;
  width: 17%;
  height: 2px;
  /* border: 1px solid #800000; */
  background-color: #800000;
}
.e3,
.e2,
.e1 {
  padding-left: 40px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
}
.degree {
  font-weight: 600;
  font-size: 19px;
  color: #800000;
}
.e3,
.e2,
.e1 {
  position: relative;
}

.e1::before,
.e2::before,
.e3::before {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  content: "";
  height: 13px;
  width: 13px;
  left: -13px;
  border: 6px solid white;
  background-color: #800000;
  border-radius: 100%;
}
.skillName {
  margin-top: 25px;
  font-weight: 600;
  color: #800000;
  /* border: 1px solid red; */
  font-size: 18px;
}
.skillBox2 {
  /* border: 1px solid black; */
  padding-left: 0px;
  background-image: linear-gradient(to right bottom, white 90%, #800000 10%);
}

.triangleContainer {
  width: 25%;
  height: 100%;
  /* border: 1px solid blac k; */
}
.skillBtnContainer {
  overflow: hidden;
  position: relative;
  width: 210px;
  height: 52px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
.skillBtnContainer a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #800000;
  background-color: white;
  display: block;
  height: 48px;
  text-align: center;
  line-height: 48px;
  width: 206px;
  border-radius: 4px;
}

.skillBtnContainer::before {
  position: absolute;
  content: "";
  height: 500px;
  width: 35px;
  background-image: linear-gradient(to top, #a8a8a8 50%, #800000 50%);
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.sBox1 {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  border: 2px solid #800000;
}
.sBox2 {
  margin-top: -20px;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  border: 2px solid #a8a8a8;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.triangle1 {
  transform: rotate(-80deg);
  margin: auto;
  margin-top: 150px;
  width: 0px;
  height: 0px;
  border-top: 50px solid transparent;
  border-left: 100px solid #a8a8a8;
  border-bottom: 50px solid transparent;
}
.triangle2 {
  transform: rotate(0deg);
  margin-top: 120px;
  margin-right: 70px;
  border-top: 50px solid transparent;
  border-right: 100px solid #800000;
  border-bottom: 50px solid transparent;
}

meter {
  border: 1px solid #800000;
  height: 20px;
  width: 500px;
}
meter::-webkit-meter-optimum-value {
  background-color: #800000;
}
.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 30px;
  /* border: 1px solid green; */
  font-size: 18px;
  color: #800000;
}
.recommendBtn
{
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 100px;
  border-radius: 100px;
  border: none;
  color: white;
  /* border: 1px solid #800000; */
  background-color: #800000;
  cursor: pointer;
  /* transition: transform 1s; */
  box-shadow: 0px 0px 2px #800000;
}
.circle
{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  /* border:1px solid green; */
}
.c1
{
  position: absolute;
  top: 200px;
  left: 70px;
  background-color: #a8a8a8;
}
.c2
{
  background-color: #800000;
  position: absolute;
  top: 240px;
  left: 100px;
}
